/* aside_wrapper */

.aside_wrapper {
  width: 30%;
  min-width: 350px;
  height: 50%;
  min-height: min-content;
  background-color: rgb(202, 202, 202);
  padding: 20px;
  margin-right: 10px;
  border-radius: 10px;
  max-width: 400px;
}

.aside_wrapper > .edit_title {
  margin-bottom: 20px;
  text-align: center;
}
/* edit_item_container */

.edit_item_container {
  margin-bottom: 50px;
}

/* edit_item */

.edit_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.edit_item > label {
  width: 50%;
}

.edit_item > select {
  width: 50%;
}
.edit_item > textarea {
  height: 150px;
  width: 50%;
  resize: none;
}

/* button_container */

.button_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.button_container > button,
.button_container > div {
  width: 100px;
  transition: all 0.2s;
  border-radius: 10px;
  border: none;
  background-color: #f0dbad;
  cursor: pointer;
  font-size: small;
  text-align: center;
  font-weight: bold;
}

.button_container > button:hover,
.button_container > div:hover {
  scale: 1.1;
}
