.main_wrapper {
  width: 70%;
  min-height: min-content;
  min-width: min-content;
  padding: 20px;
  gap: 10px;
  background-color: rgb(233, 250, 250);
  border-radius: 10px;
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.get_data_status {
  font-size: xx-large;
  display: flex;
  align-items: center;
  justify-content: center;
}
